<main>
  <div class="form">
    <form [formGroup]="form">
      <div class="row">
        <span class="hint">
          Simple email
        </span>
        <mat-form-field>
          <mat-label>Sender Emails</mat-label>
          <input matInput formControlName="senderEmail">
        </mat-form-field>
      </div>
      <div class="row">
        <span class="hint">
          with custom validators and appearance
        </span>
        <app-translation-field
          formControlName="welcomeMessage"
          [name]="'WelcomeMessage'"
          [title]="'Localize field: WelcomeMessage'"
          [appearance]="appearance">
        </app-translation-field>
      </div>
      <div class="row">
        <span class="hint">
          required empty translations
        </span>
        <app-translation-field
          formControlName="successText"
          [name]="'SuccessText'"
          [title]="'Localize field: SuccessText'">
        </app-translation-field>
        <mat-error *ngIf="form.controls.successText.errors">Some translations are missing</mat-error>
      </div>
      <div class="row">
        <span class="hint">
          without custom validators
        </span>
        <app-translation-field
          formControlName="introText"
          [name]="'IntroText'"
          [title]="'Localize field: IntroText'">
        </app-translation-field>
      </div>
    </form>
    <div class="row">
        <span class="hint">
         Just ngModule
        </span>
      <app-translation-field *ngIf="statusText"
        [(ngModel)]="statusText"
        [name]="'StatusText'"
        [title]="'Localize field: StatusText'">
      </app-translation-field>
    </div>
    <div class="form-actions">
      <button mat-raised-button [color]="'primary'" (click)="submitForm()" [disabled]="form.invalid">Save</button>
    </div>
  </div>
</main>


